.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h1{
    text-decoration: underline;
    color: gold;
    text-align: center;
}

h3 {
    text-align: center;
}

p{
    font-size: x-large;
    color: limegreen;
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}